.productName {
    font-family: "DM Sans", sans-serif !important;
    font-weight: 700;
}
.icons {
    // padding:5px;
    background:#fff;
    border-radius:50%;
    // margin:auto;
    width:30px;
    height:30px;
    border:1px solid black;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.selectedIcon {
    color: #fff !important;
}
.selected {
    background: black !important;
}
.btn {
    margin-top: 1em;
     border-color: black;
     color: #fff;
     background:black !important
}
.btn:hover {
    background: #8888;
}
.appdownload {
    display: flex;
    font-family: "DM Sans", sans-serif !important;
    justify-content: space-around;
    align-items: center;
    background-color: #222222;
    position: absolute;
    flex-direction: column;
    z-index: 100;
    left: 1rem;
    // border-bottom-right-radius: 50%;
    // border-bottom-left-radius: 50%;
    box-shadow: 1px 2px 8px 1px #00000070;
    padding: 5px;
    &:focus {
      outline: none;
    }
    label{
      margin-top: .2rem;
      margin-bottom: .2rem;
      color: #fff;
      cursor: pointer;
      &#first-title {
        font-family: "DM Sans", sans-serif !important;
        font-size: .8rem;
      }  
    }
     
  }
.productImg {
  // width: 78% !important;
  width: 100% !important;
  border-top-left-radius: 8 !important;
  border-top-right-radius: 8 !important;
  height: 250px !important;
  // height:270px;
  // aspect-ratio: 1/1;
  margin: auto;
  scale: 1.1;
  object-fit: cover;
  
}
.imgContainer {
  display: grid !important;
  place-items: center !important;
}