// Typography
$font-family-cormorant: "Playfair Display", serif;
$font-family-nunito: "DM Sans", sans-serif;

// Colors
$color-primary: #d4af37;
$color-primary-light: #f9f2ea;
$color-primary-dark: #a48a2b;

$color-secondary: #333333;
$color-secondary-light: #f5f5f5;
$color-secondary-dark: #1a1a1a;

// Other variables
$transition-standard: all 0.3s ease; 