@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif !important;
}
.yarl__container, .yarl__thumbnails_container, .yarl__thumbnails_thumbnail {
    background: #fff !important;
}
.yarl__thumbnails_vignette {
    background: transparent !important;
    box-shadow: 1px 1px 1px 1px #000;
}
#subNav .MuiBreadcrumbs-ol {
    justify-content: flex-start;
    @media screen and (max-width: 480px) {
        justify-content: center !important;
        
      }
}