.links {
    font-family: "DM Sans", sans-serif !important;
}
.main {
    font-family: "Playfair Display", serif  !important;
}
.logo {
    font-family: "Playfair Display", serif  !important;
    cursor: pointer;
}