.links {
    font-family: "DM Sans", sans-serif !important;
}
.main {
    font-family: "Playfair Display", serif  !important;
}
.logo {
    font-family: "Playfair Display", serif  !important;
    cursor: pointer;
    transition: transform ease-in .5s;
}
.logoShrink {
    font-size: 24px !important;
    transition: transform ease-in .5s !important;
}
.viewMore {
    font-family: "Playfair Display", serif  !important;
    display: flex;
    align-items: center;
    text-decoration: none;
    color:#D8C29D;
    font-weight: bold;
    font-size: .8rem;
}