.title {
    font-weight: bold;
    color:#D8C29D;
    font-family: "DM Sans", sans-serif !important;
}
.subtitle {
    // font-weight: bold;
    color:#D8C29D;
    font-family: "DM Sans", sans-serif !important;
}
.links {
    font-family: "DM Sans", sans-serif !important;
}
